[Unit]
Description=Timer: KOReader -> Calibre cada 30 minutos

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
